[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/keerthanvasist
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/keerthanvasist
	label-Verified = -1..+1 group user/keerthanvasist
	push = group user/keerthanvasist
	read = group user/keerthanvasist
	rebase = group user/keerthanvasist
	removeReviewer = group user/keerthanvasist
	submit = group user/keerthanvasist
[access "refs/heads/*"]
	create = group user/keerthanvasist
	push = +force group user/keerthanvasist
	pushMerge = group user/keerthanvasist
	read = group user/keerthanvasist
[access "refs/tags/*"]
	push = group user/keerthanvasist
	push = +force group user/keerthanvasist
